
 body {
     background-color: rgb(90, 125, 172);
     font-family: 'Sen', sans-serif;
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    shape-margin: auto;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

    header ul li {
    margin-right: 20px;
    margin-top: 40px;

}

header ul li a{
    text-decoration: none ;
    color: rgb(195, 209, 208);
}

